<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por:
    <ul>David Carraminana Jiménez</ul>
    Repositorio GitHub: <a href="https://github.com/mortvif/quiz_2017">https://github.com/mortvif/quiz_2017</a>
</p>

<img src="/images/profilepic.jpeg" />

